/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Forum&family=Nunito&family=Source+Code+Pro:wght@500&family=News+Cycle&display=swap');

/*Declare variables*/
:root {
	/*color scheme*/
  --main-bg-color: #FFFFFF;
  --highlight-red: #E27D60;
  --highlight-seafoam: #84CDCA;
  --highlight-orange: #E8A87C;
  --highlight-purple: #C38D9E;
  --highlight-darker-green: #41B3A3;
  --highlight-blue: #7ec1e7;
  
  --highlight-gray: #788b97;

  --txt-color: #3d525f;
  --link-color:#4183c4;

  /*fonts*/
  --font-title: 'Forum', cursive;
  --font-body: 'Nunito', sans-serif;
  --font-h1: 'Cardo', serif;
  --font-divtip-title: 'News Cycle', sans-serif;

  --font-code: 'Source Code Pro', monospace;
}

/*Increase display equation size*/
.MJXc-display {
	font-size: 1.3em !important;
}

/*Change link styling*/
.book .book-body .page-wrapper .page-inner section.normal a:hover {
	text-decoration: none;
	color: var(--highlight-orange);
}

/*sidebar*/
.summary {
	background-color: var(--main-bg-color);
	border-right: 2px solid var(--highlight-seafoam);
}

.book .book-summary ul.summary li.active > a {
	color: var(--highlight-darker-green);
}

.book .book-summary ul.summary li ul {
	background-color: var(--main-bg-color);
}

/*Change font color to white when active*/
.book .book-summary ul.summary li.chapter li.active > a {
	background-color: var(--highlight-darker-green);
	color: #fff;
}

/*Change hover color, bold font on hover*/
.book .book-summary ul.summary li:not(:active):hover > a {
	color: var(--highlight-seafoam);
	font-weight: bold;
}

/*Set full background*/
.book-body {
	background-color: var(--highlight-seafoam) !important;
}

/*Page changes*/
/*.navigation.navigation-unique {
	background-color: var(--highlight-orange);
}*/

/*arrows at the page turn*/
.fa-angle-left {
	color: var(--highlight-orange);
}

.fa-angle-right {
	color: var(--highlight-orange);
}

/*color of the body of the book*/
.body-inner {
	background-color: var(--main-bg-color);
}

.page-wrapper {
	background-color: var(--main-bg-color);
}

#section-.normal {
	background-color: var(--main-bg-color);
}

/*Book title*/
.book .book-body .page-wrapper .page-inner section.normal h1.title {
	font-family: var(--font-title);
	font-size:3em;
}

/*h1*/
.book .book-body .page-wrapper .page-inner section.normal h1 {
	margin-top: 0.2em;
	font-family: var(--font-h1);
	color: var(--highlight-darker-green);
	font-weight: bolder;
}

/*h2*/
.book .book-body .page-wrapper .page-inner section.normal h2 {
	font-family: var(--font-h1);
	color: var(--highlight-darker-green);
}

/*h3*/
.book .book-body .page-wrapper .page-inner section.normal h3 {
	font-family: var(--font-h1);
	color: var(--highlight-orange);
}

/*h4*/
.book .book-body .page-wrapper .page-inner section.normal h4 {
	font-family: var(--font-h1);
	color: var(--highlight-orange);
}


/*body font*/
.book .book-body .page-wrapper .page-inner section.normal p {
	font-family: var(--font-body);
	color: var(--txt-color);
	font-size:1.1em;
}

/*inline code*/
.book .book-body .page-wrapper .page-inner section.normal code {
	font-family: var(--font-code), monospace;
	color: var(--highlight-red);
	background: none;
	padding: 0px;
	font-size: 1em;
}

/*Code blocks*/
.book .book-body .page-wrapper .page-inner section.normal pre {
/*	border-top: 1px solid var(--highlight-seafoam);
	border-bottom: 1px solid var(--highlight-seafoam);*/
	background-color: #F6F8FA;
	color: #415A6E;
}

code.sourceCode > span {
	color: #415A6E;
}

code span.kw {
	color: #389DCD;
	font-weight: normal;
	font-family: var(--font-code), monospace;
}

code span.co {
	color: #9CA7A9;
	font-family: var(--font-code), monospace;
}

code span.op {
	color: #D85F00;
	font-family: var(--font-code), monospace;
}

code span.dt {
	color: #F8B411;
	font-family: var(--font-code), monospace;
}

code span.st {
	color: #04B6A1;
	font-family: var(--font-code), monospace;
}

code span.va {
	color: #AB69C3;
	font-family: var(--font-code), monospace;
}

code span.cf {
	color: #D85F00;
	font-family: var(--font-code), monospace;
}

code span.ot {
	color: #AB69C3;
	font-family: var(--font-code), monospace;
}

/*Make code output look different from code*/
.section.level1 pre > code { 
	color: var(--txt-color) !important;
}
.section.level2 pre > code { 
	color: var(--txt-color) !important;
}
.section.level1 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	/*border: none !important;*/
	background-color: #ced9e4 !important;
	/*border-top: 1px solid var(--highlight-seafoam) !important;*/
	/*border-bottom: 1px solid var(--highlight-seafoam) !important;*/
}

.section.level2 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	/*border: none !important;*/
	background-color: #ced9e4 !important;
	border-top: 1px solid var(--highlight-seafoam) !important;
	border-bottom: 1px solid var(--highlight-seafoam) !important;
}

.section.level3 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	/*border: none !important;*/
	background-color: #ced9e4 !important;
	/*border-top: 1px solid var(--highlight-seafoam) !important;
	border-bottom: 1px solid var(--highlight-seafoam) !important;*/
}

.section.level4 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	/*border: none !important;*/
	background-color: #ced9e4 !important;
	/*border-top: 1px solid var(--highlight-seafoam) !important;*/
	/*border-bottom: 1px solid var(--highlight-seafoam) !important;*/
}

/* -----------div tips------------- */
div.lightbulb, div.dictionary, div.warning {
  padding: 1em;
  padding-top: 5px;
  margin: 0.5em 0;
  padding-left: 12%;
  background-repeat: no-repeat;
  min-height: 120px;
  border: 3px solid var(--highlight-blue);
  border-radius: 10px;  
}
div.warning {
  padding: 1em;
  padding-top: 5px;
  margin: 0.5em 0;
  padding-left: 12%;
  background-repeat: no-repeat;
  /*min-height: 120px;*/
  border: 3px solid #e26260;
  border-radius: 10px;  
}

div.lightbulb {
  background: url(img/div_tip_icons/lightbulb.png), 
              -webkit-linear-gradient(0deg, 
                                      var(--highlight-blue) 10%, 
                                      var(--main-bg-color) 10%);
	background-repeat: no-repeat;
  background-position: left;
  background-size: 10%, contain;
}

div.dictionary {
	background: url(img/div_tip_icons/dictionary.png), 
	            -webkit-linear-gradient(0deg, 
                                      var(--highlight-blue) 10%, 
                                      var(--main-bg-color) 10%);
	background-repeat: no-repeat;
  background-position: left;
  background-size: 10%, contain;
	
}

div.warning {
	background: url(img/div_tip_icons/alert-circle.png), 
	            -webkit-linear-gradient(0deg, 
                                      #e26260 10%, 
                                      var(--main-bg-color) 10%);
	background-repeat: no-repeat;
  background-position: left;
  background-size: 10%, contain;
	
}

.book .book-body .page-wrapper .page-inner section.normal .title p {
	color: var(--highlight-gray);
	font-family: var(--font-divtip-title);
	border-bottom: 1px dashed var(--highlight-blue);
	font-size: 1.6em;
}

div.concept {
  float: right;
  margin-left: 0.5em;
  padding: 1em;
  max-width: 300px;
  min-height: 50px;
  background-color: #e5f3fa;
  border-radius: 10px;
}


/*Tables*/
table {
	border: 4px solid var(--highlight-darker-green);
}
th {
	background-color: var(--highlight-darker-green);
	color: var(--main-bg-color);
}
tr:nth-child(odd) {
	background-color: #f1f9f9;
	color: var(--txt-color);
}
tr:nth-child(even) {
	background-color: var(--main-bg-color);
	color: var(--txt-color);
}


/*div.definition-tbl tr:hover {
	color: var(--highlight-orange);
}
*/
/*.book .book-body .page-wrapper .page-inner section.normal div.dictionary h1 {
	color: #fff;
}


.book .book-body .page-wrapper .page-inner section.normal div.lightbulb h1 {
	color: #fff;
}*/