/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Forum&family=Nunito&family=Source+Code+Pro:wght@500&display=swap');

/*Declare variables*/
:root {
	/*color scheme*/
  --main-bg-color: #FFFFFF;
  --highlight-red: #E27D60;
  --highlight-seafoam: #84CDCA;
  --highlight-orange: #E8A87C;
  --highlight-purple: #C38D9E;
  --highlight-darker-green: #41B3A3;
  
  --highlight-dark-gray: #321a22;

  --txt-color: #3d525f;
  --link-color:#4183c4;

  /*fonts*/
  --font-title: 'Forum', cursive;
  --font-body: 'Nunito', sans-serif;
  --font-h1: 'Cardo', serif;

  --font-code: 'Source Code Pro', monospace;
}

/*Change link styling*/
.book .book-body .page-wrapper .page-inner section.normal a:hover {
	text-decoration: none;
	color: var(--highlight-orange);
}

/*sidebar*/
.summary {
	background-color: var(--main-bg-color);
	border-right: 2px solid var(--highlight-seafoam);
}

.book .book-summary ul.summary li.active > a {
	color: var(--highlight-darker-green);
}

.book .book-summary ul.summary li ul {
	background-color: var(--main-bg-color);
}

/*Change font color to white when active*/
.book .book-summary ul.summary li.chapter li.active > a {
	background-color: var(--highlight-darker-green);
	color: #fff;
}

/*Change hover color, bold font on hover*/
.book .book-summary ul.summary li:not(:active):hover > a {
	color: var(--highlight-seafoam);
	font-weight: bold;
}

/*Set full background*/
.book-body {
	background-color: var(--highlight-seafoam) !important;
}

/*Page changes*/
/*.navigation.navigation-unique {
	background-color: var(--highlight-orange);
}*/

/*arrows at the page turn*/
.fa-angle-left {
	color: var(--highlight-orange);
}

.fa-angle-right {
	color: var(--highlight-orange);
}

/*color of the body of the book*/
.body-inner {
	background-color: var(--main-bg-color);
}

.page-wrapper {
	background-color: var(--main-bg-color);
}

#section-.normal {
	background-color: var(--main-bg-color);
}

/*Book title*/
.book .book-body .page-wrapper .page-inner section.normal h1.title {
	font-family: var(--font-title);
	font-size:3em;
}

/*h1*/
.book .book-body .page-wrapper .page-inner section.normal h1 {
	margin-top: 0.2em;
	font-family: var(--font-h1);
	color: var(--highlight-darker-green);
	font-weight: bolder;
}

/*h2*/
.book .book-body .page-wrapper .page-inner section.normal h2 {
	font-family: var(--font-h1);
	color: var(--highlight-darker-green);
}

/*h3*/
.book .book-body .page-wrapper .page-inner section.normal h3 {
	font-family: var(--font-h1);
	color: var(--highlight-orange);
}

/*h4*/
.book .book-body .page-wrapper .page-inner section.normal h4 {
	font-family: var(--font-h1);
	color: var(--highlight-orange);
}


/*body font*/
.book .book-body .page-wrapper .page-inner section.normal p {
	font-family: var(--font-body);
	color: var(--txt-color);
	font-size:1.1em;
}

/*inline code*/
.book .book-body .page-wrapper .page-inner section.normal code {
	font-family: var(--font-code), monospace;
	color: var(--highlight-red);
	background: none;
	padding: 0px;
	font-size: 1em;
}

/*Code blocks*/
.book .book-body .page-wrapper .page-inner section.normal pre {
	border-top: 1px solid var(--highlight-seafoam);
	border-bottom: 1px solid var(--highlight-seafoam);
	background-color: var(--main-bg-color);
	color: #415A6E;
}

code.sourceCode > span {
	color: #415A6E;
}

code span.kw {
	color: #389DCD;
	font-weight: normal;
	font-family: var(--font-code), monospace;
}

code span.co {
	color: #9CA7A9;
	font-family: var(--font-code), monospace;
}

code span.op {
	color: #D85F00;
	font-family: var(--font-code), monospace;
}

code span.dt {
	color: #F8B411;
	font-family: var(--font-code), monospace;
}

code span.st {
	color: #04B6A1;
	font-family: var(--font-code), monospace;
}

code span.va {
	color: #AB69C3;
	font-family: var(--font-code), monospace;
}

code span.cf {
	color: #D85F00;
	font-family: var(--font-code), monospace;
}

code span.ot {
	color: #AB69C3;
	font-family: var(--font-code), monospace;
}

/*Make code output look different from code*/
.section.level1 pre > code { 
	color: var(--txt-color) !important;
}
.section.level2 pre > code { 
	color: var(--txt-color) !important;
}
.section.level1 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	border: none !important;
	background-color: #f1f9f9 !important;
	border-top: 1px solid var(--highlight-seafoam) !important;
	border-bottom: 1px solid var(--highlight-seafoam) !important;
}

.section.level2 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	border: none !important;
	background-color: #f1f9f9 !important;
	border-top: 1px solid var(--highlight-seafoam) !important;
	border-bottom: 1px solid var(--highlight-seafoam) !important;
}

.section.level3 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	border: none !important;
	background-color: #f1f9f9 !important;
	border-top: 1px solid var(--highlight-seafoam) !important;
	border-bottom: 1px solid var(--highlight-seafoam) !important;
}

.section.level4 > pre {
	padding-top: 0px !important;
	margin-top: -22px !important;
	border: none !important;
	background-color: #f1f9f9 !important;
	border-top: 1px solid var(--highlight-seafoam) !important;
	border-bottom: 1px solid var(--highlight-seafoam) !important;
}

/* -----------div tips------------- */
div.lightbulb {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #75658c;
  background-color: var(--highlight-purple);
  border: dashed 5px #aa5972;
}

div.lightbulb {
  background-image: url("img/div_tip_icons/lightbulb.png");
}
