/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Forum&family=Nunito&family=Source+Code+Pro::wght@500&display=swap');

/*Declare variables*/
:root {
	/*color scheme*/
  --main-bg-color: #FDFCF9;
  --highlight-light-blue: #C7E4F5;
  --highlight-darker-blue: #7EC1E7;
  --highlight-blue-gray: #5E8192;
  --highlight-dark-gray: #3a4f5a;
  --highlight-seafoam: #B3E5D9;
  --highlight-darker-green: #85d5c3;

  --txt-color: #26333b;
  --link-color:#4183c4;
  --inline-code-color: #cb4aff;


  /*fonts*/
  --font-title: 'Forum', cursive;
  --font-body: 'Nunito', sans-serif;
  --font-h1: 'Cardo', serif;

  --font-code: 'Source Code Pro', monospace;
}

/*Change link styling*/
.book .book-body .page-wrapper .page-inner section.normal a:hover {
	text-decoration: none;
	color: var(--highlight-blue-gray);
}

/*sidebar*/
.summary {
	background-color: var(--main-bg-color);
	border-right: 4px solid var(--highlight-darker-blue);
}

.chapter {
	background-color: var(--highlight-light-blue);
	border-bottom: 1px solid #fff;
}

.chapter.active {
	background-color: var(--highlight-darker-blue);
}


/*Change font color to white when active*/
.book .book-summary ul.summary li.active > a {
	color: #fff;
}
/*Change hover color, bold font on hover*/
.book .book-summary ul.summary li:not(:active):hover > a {
	color: var(--highlight-blue-gray);
	font-weight: bold;
}

/*Set full background*/
.book-body {
	background-color: var(--highlight-seafoam) !important;
}

/*Page changes*/
.navigation.navigation-unique {
	background-color: var(--highlight-light-blue);
}

/*arrows at the page turn*/
.fa-angle-left {
	color: var(--highlight-dark-gray);
}

.fa-angle-right {
	color: var(--highlight-dark-gray);
}

/*color of the body of the book*/
.body-inner {
	background-color: var(--main-bg-color);
}

.page-wrapper {
	background-color: var(--main-bg-color);
}

#section-.normal {
	background-color: var(--main-bg-color);
}

/*Book title*/
.book .book-body .page-wrapper .page-inner section.normal h1.title {
	font-family: var(--font-title);
	font-size:3em;
}

/*h1*/
.book .book-body .page-wrapper .page-inner section.normal h1 {
	margin-top: 0.2em;
	font-family: var(--font-h1);
	color: var(--highlight-darker-blue);
	font-weight: bolder;
}

/*h2*/
.book .book-body .page-wrapper .page-inner section.normal h2 {
	font-family: var(--font-h1);
	color: var(--highlight-darker-blue);
}

/*h3*/
.book .book-body .page-wrapper .page-inner section.normal h3 {
	font-family: var(--font-h1);
	color: var(--highlight-blue-gray);
}

/*h4*/
.book .book-body .page-wrapper .page-inner section.normal h4 {
	font-family: var(--font-h1);
	color: var(--highlight-blue-gray);
}


/*body font*/
.book .book-body .page-wrapper .page-inner section.normal p {
	font-family: var(--font-body);
	color: var(--txt-color);
	font-size:1.1em;
}

/*inline code*/
.book .book-body .page-wrapper .page-inner section.normal code {
	font-family: var(--font-code), monospace;
	color: var(--inline-code-color);
	background: none;
	padding: 0px;
	font-size: 1em;
}

/*Code blocks*/
.book .book-body .page-wrapper .page-inner section.normal pre {
	border-top:2px solid var(--highlight-darker-green);
	border-bottom:2px solid var(--highlight-darker-green);
	background-color: #FDFDFD;
	color: #415A6E;
}

code.sourceCode > span {
	color: #415A6E;
}

code span.kw {
	color: #389DCD;
	font-weight: normal;
	font-family: var(--font-code), monospace;
}

code span.co {
	color: #9CA7A9;
	font-family: var(--font-code), monospace;
}

code span.op {
	color: #D85F00;
	font-family: var(--font-code), monospace;
}

code span.dt {
	color: #F8B411;
	font-family: var(--font-code), monospace;
}

code span.st {
	color: #04B6A1;
	font-family: var(--font-code), monospace;
}

code span.va {
	color: #AB69C3;
	font-family: var(--font-code), monospace;
}

code span.cf {
	color: #D85F00;
	font-family: var(--font-code), monospace;
}

code span.ot {
	color: #AB69C3;
	font-family: var(--font-code), monospace;
}

/*Make code output look different from code*/
.section.level1 pre > code { 
	color: var(--main-bg-color) !important;
}
.section.level2 pre > code { 
	color: var(--main-bg-color) !important;
}
.section.level1 > pre {
	border: none !important;
	color: var(--main-bg-color) !important;
	background-color: var(--highlight-dark-gray) !important;
}

.section.level2 > pre {
	border: none !important;
	color: var(--main-bg-color) !important;
	background-color: var(--highlight-dark-gray) !important;
}

.section.level3 > pre {
	border: none !important;
	color: var(--main-bg-color) !important;
	background-color: var(--highlight-dark-gray) !important;
}

.section.level4 > pre {
	border: none !important;
	color: var(--main-bg-color) !important;
	background-color: var(--highlight-dark-gray) !important;
}